html, body {
	min-height:100%;
	min-width:100%;
    margin: 0;
    padding: 0;
}

body {
	line-height:14px;
	padding-bottom:21px;
}

body.popup {
	min-width:0;
}

body,input,button,select,textarea,td,th,tr,table,button {
	font-family:verdana;
	font-size:10px;
}

:focus {
	outline:none
}

input.invalid {
	background-color:red;
	border:1px solid #FFF;
}

input[type="submit"],input[type="button"],button {
	cursor:pointer;
}

table {
	
	empty-cells:show
}

table table,img {
	border:0
}

table {
	margin:0 auto
}

td {
	padding: 2px 3px;
	vertical-align: middle;
}

input,button {
	margin:2px;
}

th input {
	margin:0
}

th {
	height: 14px;
	padding:4px 6px;
}

textarea {
	width:97%
}

textarea.tinymce{
	width:100%
}

.textForBlind 
{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

.centerContainer > .outer {
    float: right;
    right: 50%;
    position: relative;
}
.centerContainer > .outer > .inner {
    float: right;
    right: -50%;
    position: relative;
}

.res_max,.res_current,.res_current_max {
	min-width:90px
}

.res_name {
	float:none;
}

.table519{
	min-width:519px !important;
	width:519px !important
}

.table569{
	min-width:569px !important;
	width:569px !important
}

.build_submit {
    max-width: 100px;
	padding:0;
    word-wrap: break-word;
	white-space: normal;
}

.build_submit:hover {
	text-decoration:underline;
}

.build_form {
	display:inline;
}

.onlist {
    max-width: 100%;
	margin:0;
	padding:0;
}

.onlist:hover {
	text-decoration:underline;
}

.shortcut-edit {
	display:none;
}

.clear {
	clear:both;
}

/** HEADER **/
#header {
	margin: 0 10px 0 10px;
    height: 40px;
    min-width: 915px;
    overflow: hidden;
}

#headerTable {
	width:100%;
}

#planetImage{
	width:50px;
}

#planetImage > img{
	width:50px;
	height:50px;
}

/** MENU **/

#leftmenu {
	width: 252px;
    float: left;
    margin-left: 12px;
    margin-top: 20px;
    overflow: visible;
    border: 1px solid #524d4d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgba(6, 5, 5, 0.8);
    padding: 5px;
    overflow: visible;
}

.menu_header {
    text-align: center;
    margin: 5px 0 10px 0;
}

.menu_content_left {
    
}

.menu_content_full {
    width: 89%;
    padding: 0 7px;
    margin: 0px 1px 5px 5px;
    line-height: 24px;
    color: #CCC;
    text-decoration: none;
    border: 1px solid #524d4d;
    -moz-border-radius: 2px 0px 0px 2px;
    -webkit-border-radius: 2px 0px 0px 2px;
    border-radius: 2px 0px 0px 2px;
    background: #111111;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0a1629', endColorstr = '#091324');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0a1629', endColorstr = '#091324')";
    text-align: center;
}

.menu_content_left a {
    width: 40%;
    padding: 0 7px;
    float: left;
    margin: 0px 1px 5px 5px;
    line-height: 24px;
    color: #CCC;
    text-decoration: none;
    border: 1px solid #524d4d;
    -moz-border-radius: 2px 0px 0px 2px;
    -webkit-border-radius: 2px 0px 0px 2px;
    border-radius: 2px 0px 0px 2px;
    background: #111111;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0a1629', endColorstr = '#091324');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0a1629', endColorstr = '#091324')";
    text-align: left;
    height: 25px;
    overflow: hidden;
}

.menu_footer {
	padding: 10px;
    text-align: center;
    font-weight: bold;
}

#menu {
	list-style:none;
	margin:0;
	padding:0;
}

#menu li {
	margin:0;
	padding:0;
}

#menu a {
    display: block;
    width: 68px;
    padding: 0 7px;
    float: left;
    margin: 0px 1px 5px 5px;
    height: 24px;
    line-height: 24px;
    color: #CCC;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.6);
    border: 1px solid #524d4d;
    -moz-border-radius: 2px 0px 0px 2px;
    -webkit-border-radius: 2px 0px 0px 2px;
    border-radius: 2px 0px 0px 2px;
    background: #091527;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0a1629', endColorstr = '#091324');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0a1629', endColorstr = '#091324')";
    background-image: -moz-linear-gradient(top, #0a1629, #091324);
    background-image: -ms-linear-gradient(top, #0a1629, #091324);
    background-image: -o-linear-gradient(top, #0a1629, #091324);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#0a1629), to(#091324));
    background-image: -webkit-linear-gradient(top, #0a1629, #091324);
    background-image: linear-gradient(top, #0a1629, #091324);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-align: left;
    position: relative;
    margin-right: 0;
    box-shadow: inset 1px 1px #142c52, inset -1px -1px #142c52;
}

div#disclamer {
	position: relative;
	top: -24px;
	width: 100%;
	text-align: center;
	font-size: 9px;
}

.menu-head {
	height:78px;
}

.menucat1-head, .menucat2-head, .menucat3-head, .menu-footer{
	height:30px;
}

#options select {
	max-width:170px;
}
/* CONTENT */

#page {
	margin-left:276px;
	padding:0;
}

#content, .infobox {
	margin:10px 10px 0 ;
	padding:10px 10px 5px 10px;
}

.content_page {
	margin: 0 auto;
	width: 706px;
	border: 1px solid #524d4d;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: rgba(6, 5, 5, 0.8);
	padding: 5px;
	overflow: visible;
}

.full #content > table, .full form > table {
	max-width:95%;
	width:80%;
}

.left{
	text-align:left
}

.right{
	text-align:right
}

.center{
	text-align:center
}

.top{
	vertical-align:top
}


.tooltip, .tooltip_sticky {
	cursor: pointer;
}

.trader_col {
	margin:0 5px;
	float:left;
	width:100px;
}

.globalWarning {
	background-color: #FFFFDD;
    border: 1px solid #F7DF92;
    color: #000000;
    padding: 5px;
    text-align: center;
    margin: 10px 10px 0 10px;
    border-radius: 5px;
}

.globalWarning a:hover {
	text-decoration:underline;
}

.globalWarning a{
	cursor:pointer;
	color:#D20000;
}

.trader_col label:hover{
	cursor:pointer;
}

.tip {
	display:none;
	padding:7px;
	position:absolute;
	z-index:1000;
	max-width: 500px;
}

.tip.notify {
	position:fixed;
	top:200px;
	padding:20px;
}

.ui-widget, .ui-widget td{
	font-family:Verdana;
	font-size:10px
}

.ui-progressbar {
	height: 10px !important;
}

.ui-progressbar-value {
	margin:0;
}

#traderContainer {
	margin-top:5px;
}

.infobox {
    border: 2px solid red;
    padding: 2px 5px;
    text-align: center;
}

.shortcut-colum{
	position:relative;
}

.shortcut-delete {
	position:absolute;
	z-index:1;
	top:3px;
	display:none;
	right:3px;
	width:16px;
	height:16px;
	cursor:pointer;
	background:url(../images/false.png) scroll no-repeat 0 0 transparent;
}

.shortcut-colum:hover .shortcut-delete{
	display:block;
}

.spyRaportFooter,
.spyRaportContainer {
	clear:both;
}

.spyRaportContainerRow.first {
	clear:both;
}

.spyRaportContainerHead {
	font-weight:700;
	padding-top:8px;
}
.spyRaportContainerCell {
	float:left;
	width:25%;
}

.spyRaportFooter{
	text-align:center;
	padding-top:8px;
}

table.tablesorter thead {
	position:relative;
}

table.tablesorter thead tr .header {
	cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
	color:lime;
}

table.tablesorter thead tr .headerSortDown {
	color:red;
} 

.defaultSkin table.mceLayout {
	border-spacing: 0;
	width:100% !important;
}
	
.ui-autocomplete-category {
	font-weight: bold;
	padding: .2em .4em;
	line-height: 1.5;
}

.ui-autocomplete-item {
	cursor:pointer;
}

#overview #planetList td {
    vertical-align: top;
    white-space: nowrap;
}

@media screen and (max-width: 1165px) {
	body {
		min-width: 0;
	}
	
	#resourceTable td{
		min-width: 100px;
	}
}